body {	background-color:#ffffcc;
		/* this is a google font
		font-family:'Shadows Into Light', cursive;*/
		font-family: sans-serif;
		margin: 5%;
		text-align: justify;

}

h1,h2,h3,h4,h5 { font-family: 'Shadows Into Light', cursive;
				 border: solid 1px red;
				 margin: 0px;			

}

h1 {letter-spacing: 5px;}

#wrap { min-width : 45%;
		height: 10%;
/* this property creates a rounded box*/
		border-radius: 5px;
		border-color: #fff;
		background-color: #ccc;
/* this property centers a div*/
		margin: 0 auto;
}

.center {text-align: center;

}


#menu > li {list-style: none;
			display: inline;
				
}

nav {margin:auto;


}

nav ul li a {	text-decoration: none;
				font-weight: bold;
				color:#000;  
}

nav ul li:hover {background-color: #fff;
				 color: #000;
}

.submenu {	list-style: none;
			display: inline-block;
}
		
.portfolio {width: 30%;
			float: left;

}

#hometext { background-color: rgba(255,255,255,0.7);
			padding: 5px 10px 5px 10px;

}
