#welcome {
			text-align: center;


}


#lightbox{
			width 		: 100vw;
			height 		: 100vh;
			background  : rgba(0, 0, 0,.7);
			position 	: fixed;
			z-index  	: 1000;
			top 		: 0px;
			left 		: 0px;
		
}

#lightcontent { width: 		40%;
				height: 	45%;
				background: #fff;
				position: 	absolute;
				top:		30%;
				left:		30%;
				padding:	0px 20px 0px 20px;			
}

#closeBtn{
			width 				: 55px;
			height 				: 40px;
			border-radius 		: 80%;
			background 			: rgba( 255, 255, 255, 1);
			font-weight 		: bold;
			text-align 			: center;
			position 			: absolute;
			right 				: -60px;
			top 				: -30px;
			font-size 			: 15pt;
			padding-top 		: 5px;
			padding-bottom 		: 10px;
			font-family 		: sans-serif;
			cursor 				: pointer;
}

#closeBtn:hover {
					background 			: black;
					color 				: white;
}



a {	text-decoration: none;


}

a:hover{ color: #f05;
		 text-decoration: none;

 }

.container {	border: solid 1px red;

}

.row {	border: solid 1px blue;

}

.col-sm-1,.col-sm-2,.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { border: solid 1px orange;

}

.tall { min-height: 325px;

}

.topnav li { list-style   : none;
		  	 float		  : left;
		  	 padding-right: 10%;
		  	 text-decoration: none;		  	

}

.topnav li:hover {  color: #f05;
	 				text-decoration: none;	

				
 }

 .table-responsive {	max-height: 290px;
 						overflow-y: auto;

 }

 thead {	font-weight: bold;


 }

.dmessage { background-color: rgba(129,4,50,.5);
			color: #ccc;


}


.topic { list-style: none;
		font-size: 200%;


 }


 .btn, .btn-default {	float: right;
 }
